In [3]:
import pdpipe as pdp
import pandas as pd

In [15]:
df = pd.DataFrame(
        data=[[4, 165, 'USA'], [2, 180, 'UK'], [2, 170, 'Greece']],
        index=['Dana', 'Jack', 'Nick'],
        columns=['Medals', 'Height', 'Born']
    )

pipeline = pdp.ColDrop('Medals').Binarize('Born').apply(df)
pipelines = pdp.Binarize('Born').apply(df)
df

      Medals  Height    Born
Dana       4     165     USA
Jack       2     180      UK
Nick       2     170  Greece

In [17]:
pipeline
pipelines

      Medals  Height  Born_UK  Born_USA
Dana       4     165        0         1
Jack       2     180        1         0
Nick       2     170        0         0